@page
@model RecruitWebApplicationkudumusr.Pages.IndexModel
@{
	ViewData["Title"] = "Our Team";
}

<h1 class="text-center">Meet Our Team</h1>

<div class="row">
	<div class="col-md-4 text-center">
		<img src="https://i.postimg.cc/3xRrstjP/srikar-pic.jpg" class="card-img-top img-fluid rounded-circle mx-auto mt-4" alt="Srikar Kudumula" />
		<h2>Srikar Kudumula</h2>
		<p>Founder & CEO</p>
		<p>I am very excited and passionate about connecting the  right people with the best opportunities.</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="https://i.ibb.co/jzDnpSh/HRmanager.jpg" class="card-img-top img-fluid rounded-circle mx-auto mt-4" alt="Team Member2" />
		<h2>Josh Morning</h2>
		<p>Recruitment Manager</p>
		<p>Josh has been working at our company and has lots of experience in finding the best and most talented workers in the tech industries.</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="https://i.ibb.co/S0k78C2/managerpicture.jpg" class="card-img-top img-fluid rounded-circle mx-auto mt-4" alt="Team Member 3" />
		<h2>George Bell</h2>
		<p>HR Manager</p>
		<p>George is the best at making our recruitment process as smooth and in an effortless proces.</p>
	</div>

</div>